.button {
    background-color: rgb(119, 119, 255);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid darkblue;
    color: darkblue;
    font-family: 'Alegreya Sans', sans-serif;
}

.button:hover, button:active {
    background-color: rgba(0, 0, 139, 0.62);
}