header {
    width: 100%;
    height: 1000px;
    background-color: red;
}

.typed {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
        typing 0.8s steps(40, end) forwards,
        blinking 1s infinite;
}

@keyframes typing {
    from {width: 0%}
    to {width: 100%}
}

@keyframes blinking {
    from { border-color: transparent }
    to { border-color: transparent; }
}

.welcome {
    text-align: center;
}
