.nav {
    /*background-color: white;*/
}

.list {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

/*a:visited {
    text-decoration: none;
    color: red;
}*/

a:hover, a:active {
    color: red;
    text-decoration: none;
}